body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #007bff;
    color: white;
    padding: 30px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}